* {
  margin: 0;
  padding: 0;
}

#content-dash {
  padding: 15px;
}

.main {
  height: 100vh;
  display: flex;
}

.content-main {
  width: 400px;
  height: 450px;
  color: #45505b;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
}

.content {
  display: flex;
  justify-content: space-between;
}

.social-icons li {
  list-style: none;
  display: inline-block;
  margin-top: 10px;
}

.social-icons i {
  font-size: 38px;
  color: #00d4ff;

}

li {
  list-style: none;
}

label,
a,
span {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

a:hover {
  color: #00d4ff;
  text-decoration: none;

}

h1 {
  font-weight: 400;
  font-size: 28px;
  text-transform: uppercase;
}

td,
th {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.router-link-active {
  background-color: #161B22;
  cursor: pointer;
}

.btn-sair {
  background: transparent;
  border: none;
  color: #fff;
  color: #fff !important;
  font-size: 20px !important;
}